<!doctype html>
<html>
  <head>
    <title>Dante's Inferno</title>
    <script>
      window.chapter_data={{{chapter_str}}};
      window.addEventListener('click', function(ev) {
        if (ev.target.tagName !== 'P') {
          return;
        }
        let nuLang = ev.target.lang === 'it' ? 'en' : 'it';
        const index = Number.parseInt(ev.target.id);
        ev.target.lang = nuLang;
        ev.target.innerText = window.chapter_data[nuLang][index].join('\n');
      });
    </script>
  </head>
  <body>
    <main style="display: flex;flex-direction: column;width: 44%; margin: auto;">
      {{#each chapter.it}}
      <p id="{{@index}}" style="cursor: pointer; align-self: start;" lang="it">
        {{#each this}}{{this}}<br>{{/each}}
      </p>
      {{/each}}
    </main>
  </body>
</html>