<!doctype html>
<html>
  <head>
    <title>Dante's Inferno</title>
    <script>
      const chapter_data={{{chapter_str}}};
      let to;
      window.addEventListener('click', function(ev) {
        if (ev.target.tagName !== 'P') {
          return;
        }
        let nuLang = ev.target.lang === 'it' ? 'en' : 'it';
        const index = Number.parseInt(ev.target.id);
        ev.target.lang = nuLang;
        ev.target.innerText = chapter_data[nuLang][index].join('\n');
      });
      document.addEventListener('scroll', function(ev){
        clearTimeout(to);
        to = setTimeout(function() {
          console.log('timeout expired');
          clearTimeout(to);
        }, 1000);
      })
    </script>
  </head>
  <body>
    <main style="display:flex;flex-direction:column;align-items:center;">
      {{#each chapter.it}}
      <p id="{{@index}}" style="cursor: pointer;" lang="it">
        {{#each this}}{{this}}<br>{{/each}}
      </p>
      {{/each}}
    </main>
  </body>
</html>